
<h3>Nice to meet you</h3>
<mat-card>
<p> Enter your email and choose a password</p>
<form #userForm="ngForm" (ngSubmit)="onSubmit()">
<div class="example-container">
    <mat-form-field style="width: 250px;">
      <input matInput placeholder="Enter your psychometric score" [(ngModel)] = "psychometric"
       name = "psychometric"
       min="0"
       max="800"
       required #spy 
       #userpsychometric = "ngModel">
             <mat-error *ngIf="!(userpsychometric.valid || userpsychometric.pristine)">
                  Email is required
                   </mat-error>                        
    </mat-form-field>
  </div>


  <div class="example-container">
    <mat-form-field style="width: 250px;">
      <input matInput placeholder="Enter your mathematics score" [(ngModel)] = "mathematics"
       name = "mathematics"
       required #spy 
       #usermathematics = "ngModel">
             <mat-error *ngIf="!(usermathematics.valid || usermathematics.pristine)">
                  Email is required
                   </mat-error>                        
    </mat-form-field>
  </div>
 

  <mat-form-field style="width: 250px;">
    <mat-label>is your teuition completed?</mat-label>
    <mat-select [(ngModel)] ="salary" name="salary" required #spy>
      <mat-option value="Y">complete</mat-option>
      <mat-option value="N">not complete</mat-option>
    </mat-select>
  </mat-form-field>

  
  <div class="example-container" [ngClass]="{'show':show==true,'notshow':show==false}">
  <mat-form-field style="width: 250px;">
    <mat-label>is your teuition completed?</mat-label>
    <mat-select [(value)]="resultpredict">
      <mat-option value="fail">Dropout</mat-option>
      <mat-option value="pass">Pass</mat-option>
    </mat-select>
  </mat-form-field>
  </div>

    <div >
        <button mat-raised-button color="primary" [ngClass]="{'show':show==false,'notshow':show==true}" type="submit" [disabled]="!userForm.form.valid">Predict</button>
    </div>
</form>
<div >
    <button mat-raised-button color="primary" [ngClass]="{'show':show==true,'notshow':show==false}"  (click)="save()"  >Save </button>
    <button mat-raised-button color="primary" [ngClass]="{'show':show==true,'notshow':show==false}"  (click)="cancel()">Cancel </button>
</div>

</mat-card>
