<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <ng-container matColumnDef="No.">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container> 

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef> City</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="temp">
        <th mat-header-cell *matHeaderCellDef> temp</th>
        <td mat-cell *matCellDef="let element">
            {{element.temp}}
        </td>
    </ng-container>

    <ng-container matColumnDef="icon">
        <th mat-header-cell *matHeaderCellDef> Icon</th>
        <td mat-cell *matCellDef="let element"> <img *ngIf="element.icon" src="{{element.icon}}" alt="icon"></td>
    </ng-container>

    <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef> Humidity</th>
        <td mat-cell *matCellDef="let element"> {{element.fugtighed}} </td>
    </ng-container>

    <ng-container matColumnDef="wind">
        <th mat-header-cell *matHeaderCellDef> Wind</th>
        <td mat-cell *matCellDef="let element"> {{element.wind}} </td>
    </ng-container>
  
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email</th>
        <td mat-cell *matCellDef="let element" style="padding-left: 10px;"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="predict">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button *ngIf="element.status=='aa'" mat-raised-button color="primary" (click)="getdata(element.name,element,i)" style="margin-left: 10px; " >Get Data</button>
          <button *ngIf="element.status=='aaa' || element.status=='aa'" id="first{{i}}" mat-raised-button color="accent" (click)="predict(element,i)" style="margin-left: 10px; " >{{textrain}}</button>
          <span *ngIf="element.status=='prd'">{{textrain}}</span>
          <button *ngIf="element.status=='prd'" id="sec+i" mat-raised-button color="accent" (click)="Save(element)" style="margin-left: 10px; " >Save</button>
          <button *ngIf="element.email==useremail" id="fin+i" mat-raised-button color="warn" (click)="delete(element)"   style="margin-left: 10px; " >Delete</button>
        </td>
    </ng-container>

  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  