
<h3>Nice to see you again</h3>

<mat-card>
    <p> Fill in the city you want to know the weather</p>
    <div class="example-container">
        <mat-form-field>
        <input matInput placeholder="Enter City" [(ngModel)] = "city"
        name = "city" 
        #temp = "ngModel">
        <mat-error *ngIf="!(temp.valid || temp.pristine)">
            city is required
                </mat-error>         
        </mat-form-field>
    </div>
        <div >
            <button mat-raised-button color="primary" (click)="onSubmit()" >Add</button>
        
        </div>
</mat-card>


<!-- This is a comment-->
